body {
  width: 100%;
  height: 100%;
  margin: 0;
      
}

header{
  text-align: center;
}

nav a{ 
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
}

img{
  display: block;
   margin-left: auto;
  margin-right: auto;
  width: 900px;
  
}

figcaption{
  text-align: center;
  font-size: 20px;
}

#featured-property p{
  width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#details{
  display: block;
}

#details div{
  float: left;
  background-color: red;
}



